.red{
    color:red;
    size: 10;
    background-color: black;
}

#name{
    color: blue;
}
h3[draggable="true"]{
    color: rgb(165, 42, 134);
}
html{
    background-color: aqua;
}

h2{
    color: blueviolet;
    background-color:red;
}

/* *{
    color: aqua;
} */